* {
  margin: 0;
  padding: 0;
}

.searchForm {
  width: 200px;
  margin: 20px 0;
  border-bottom: 1px solid #eee;
}

.searchForm input[type='text'] {
  display: block;
  min-height: 40px;
  width: 180px;
  font-size: 1rem;
  border-radius: 0.25rem;
  padding: 0 10px ;
  outline: none;
}