/* Header */
.header {
  height: 110px;
}

.main-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.img-1 {
  padding-top: 43px;
}

.img-2 {
  padding-top: 10px;
}

.img-2 img {
  max-width: 100%;
}

#btn-toggle {
  display: none;
  border: 0;
  background-color: transparent;
  color: black;
  font-size: 24px;
}