/* * {
    padding: 0;
    margin: 0;
} */

body {
    background-color: rgb(222, 222, 222);
}

/* Kích thước của ảnh là 112*80 px */
img {
    margin-left: 88px;
    height: 80px;
}

.menu {
    background-color: rgb(0, 0, 0);
    width: 100%; /* Chiếm 100% chiều dài màn hình (không tính độ dài khi bị kéo)*/
    height: 40px;
    margin-top: -4px;
}

.menu ul {
    display: flex;
}

.menu ul li {
    margin-left: 50px;
    list-style: none;
    margin-top: 10px;
    /* float: left;  cùng tác dụng với display: flex của <ul> */
}

.menu ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
}

.box-content {
    margin: 10px 64px 0;
    padding: 15px 0;
    background-color: rgb(255, 255, 255);
    width: 980px;
    height: 100%;
    float: left;
}

/* Kích thước box-1 là 713*415px (do có padding-top:10px) */
.box-1 {
    margin-left: 15px;
    padding-top: 10px;
    width: 713px;
    height: 405px;
    background-color: red;
    float: left;
}

.box-2 {
    float: left;
    margin-left: 10px;
    width: 416px;
    height: 250px;
    padding: 17px 0 0 15px;
    background-color: rgb(204, 204, 204);
    font-size: 21px;
    color: rgb(51, 51, 51);
    /* text-align: left; */
}

.box-3 {
    margin-left: 54px;
    float: left;
    width: 208px;
    height: 350px;
    background-color: rgb(153, 153, 153); 
}

.box-3 p {
    display: inline;
}

.box-3 .paragraph-2 {
    padding-left: 20px;
    word-wrap: break-word;
}

.box-4 {
    margin-top: -70px;
    width: 86px;
    height: 90px;
    background-color: rgb(0, 51, 0);
    color: white;
    float: left;
}

.box-4-1 {
    margin-top: -70px;
    margin-left: 30px;
    width: 86px;
    height: 90px;
    background-color: rgb(0, 51, 0);
    color: white;
    float: left;
}

.box-5-6 {
    float: left;
    margin-left: 15px;
    width: 222px;
    height: 248px;
    background-color: white;
}

.box-5 {
    width: 222px;
    height: 158px;
    background-color: pink;
    word-wrap: break-word;
    text-align: center;
}

.box-5 p, .box-6 p {
    display: inline;    
}

.box-6 {
    word-wrap: break-word;
    text-align: center;
    background-color: pink;
    margin-top: 10px;
    width: 222px;
    height: 80px;
}

.box-7 {
    width: 970px;
    height: 160px;
    background-color: white;
    word-wrap: break-word;
    margin-top: 451px;
    margin-left: 5px;
}

.box-7-1 {
    float: left;
    width: 220px;
    height: 160px;
    background-color: violet;
    word-wrap: break-word;
}

.box-7-2 {
    float: left;
    width: 220px;
    height: 160px;
    background-color: violet;
    word-wrap: break-word;
    margin-left: 30px;
}

.paragraph-7 {
    padding: 12px 10px 0 10px;
    word-wrap: break-word;
}


