/* TopNav */
.top-nav {
  background-color: rgb(228, 227, 227);
}

.top-nav .container .main-topnav {
  display: flex;
  justify-content: space-between;
}

.main-topnav .social-links {
  padding: 9px 0;
}

.main-topnav .social-links a {
  text-decoration: none;
  padding-left: 10px;
  font-size: 14px;
  color: grey;
}

.main-topnav .social-links .active {
  color: red;
}

.main-topnav .social-links a:hover {
  color: red;
}

.main-topnav ul {
  display: flex;
  list-style: none;
  padding-top: 9px;
  justify-content: space-evenly;
}

.main-topnav ul li {
  padding-left: 10px;
  padding-right: 13px;
}

.main-topnav ul .nav-first-item {
  margin-left: 10px;
}

.main-topnav ul .nav-last-item {
  padding-right: 0;
}

.main-topnav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 14px;
}
